a{
  text-decoration: none !important;
}
html, body {
  scroll-behavior: smooth;
  margin: 0;
  padding:0;
  font-family: EXO;
  letter-spacing: 1.5px;
  color:rgba(0, 0, 0, 0.8);
  background:rgba(18, 18, 18, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div.background{
  position:fixed;
  width:100vw;
  height:100vh;
  z-index:-1000;
  left:0;
  top:0;
  background:rgba(18, 18, 18, 0);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*::selection{
  background-color: black;
  color:#BB86FC;
}
.scrollEffect,.fadeEffect{
  opacity: 0;
}
.come-in{
  position: relative;
  top:150px;
  animation: come-in 0.8s ease forwards;
}
.fade-in{
  animation: fade-in 0.6s ease forwards;
}
.fade-in:nth-child(odd){
  animation-duration: 0.5s;
}
.come-in:nth-child(odd){
  animation-duration: 0.6s;
}
@keyframes come-in {
  to {
      top:0;
      opacity: 1;
  }
}
@font-face {
  font-family: EXO;
  src: url('fonts/Exo_2/static/Exo2-Regular.ttf');
}
@font-face {
  font-family: JURA;
  src: url('fonts/Jura/static/Jura-Regular.ttf');
}